- name: create directory for dotfiles repo
  ansible.builtin.command: "mkdir /home/{{ user }}/.dotfiles"
  args:
    creates: "/home/{{ user }}/.dotfiles"
- name: create .gitignore
  ansible.builtin.shell: "echo '.dotfiles' >> /home/{{ user }}/.gitignore"
  args:
    creates: "/home/{{ user }}/.gitignore"
- name: clone dotfiles repo
  ansible.builtin.git:
    repo: 'https://github.com/zilbeus/.dotfiles'
    dest: "/home/{{ user }}/.dotfiles"
    bare: yes
- name: checkout dotfiles repo
  ansible.builtin.shell: git --git-dir=/home/{{ user }}/.dotfiles --work-tree=/home/{{user }} checkout
- name: disable showing untracked files
  ansible.builtin.shell: git --git-dir=/home/{{ user }}/.dotfiles --work-tree=/home/{{ user }} config --local status.showUntrackedFiles no
