- name: download obsidian
  get_url:
    url: https://github.com/obsidianmd/obsidian-releases/releases/download/v1.11.4/Obsidian-1.11.4.AppImage
    dest: '/home/{{ user }}/Applications/obsidian.appimage'
    mode: '0755'
    owner: '{{ user }}'
